<!DOCTYPE html>
<html> <!-- MAIN MENU HTML -->
  
  <head> <!-- need to have own verification
    <meta name="google-site-verification" content="pBUM_KX0dTEa7jWPei01EkdOlOzI9dDk7ktIlUb8lyk" />
     -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../raceMenu/style.css">
    <!-- Special fonts: -->
    <link href="https://fonts.googleapis.com/css?family=Courgette|El+Messiri" rel="stylesheet">
    
    <title>x</title>
  </head>
  
  <body>
    <p id = "raceType">
    </p>
    <p id= "showResults">
    </p>
    <p id= "showLapTimes">
    </p>
    <p id ="showStandings">
    </p>
    <input type= "button" value= "start screen" onclick= "goToStart()">
    
    <script src= "../afterRace/afterRace.js"></script>
    <!--
    <script src="../race/draw.js"></script> 
    <script src="../pieces/pieces.js"></script>
    <script src="../race/classes.js"></script>
    <script src="../race/tracks.js"></script>
    <script src="../race/engineFunctions.js"></script><!--
    <script src="../race/engine.js"></script>
    <script src= "../raceMenu/raceMenu.js"></script> -->
  </body>
</html>