<!DOCTYPE html>
<html> <!-- MAIN MENU HTML -->
  
  <head> <!-- need to have own verification
    <meta name="google-site-verification" content="pBUM_KX0dTEa7jWPei01EkdOlOzI9dDk7ktIlUb8lyk" />
     -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../race/style.css">
    <!-- Special fonts: -->
    <link href="https://fonts.googleapis.com/css?family=Courgette|El+Messiri" rel="stylesheet">
    
    <title>x</title>
  </head>
  
  <body>
    <div id= "inCenter">
      <div id= "canvasPlace">
        <canvas id="kanveesi" width="900" height="600">
        Your browser does not support canvas.
        </canvas>
      </div>
      <div id= "infoPlace"><br>
      </div>
      <div id= "collisionPlace"><br>
      </div> 
      <div id= "infoPlace2"><br>
      </div>
    </div>
    <script src="../race/draw.js"></script>
    <script src="../pieces/pieces.js"></script>
    <script src="../race/classes.js"></script>
    <script src="../race/tracks.js"></script>
    <script src="../race/aiDrivers.js"></script>
    <script src="../race/engineFunctions.js"></script>
    <script src="../race/aiFunctions.js"></script>
    <script src="../race/engine.js"></script>
  </body>
</html>