<!DOCTYPE html>
<html> <!-- MAIN MENU HTML -->
  
  <head> <!-- need to have own verification
    <meta name="google-site-verification" content="pBUM_KX0dTEa7jWPei01EkdOlOzI9dDk7ktIlUb8lyk" />
     -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../raceMenu/style.css">
    <!-- Special fonts: -->
    <link href="https://fonts.googleapis.com/css?family=Courgette|El+Messiri" rel="stylesheet">
    
    <title>x</title>
  </head>
  
  <body>
    <div id= "inCenter">
      <input type= "button" value= "quick start" onclick= "quickStart()"><br><br>
      Your name: <br>
      <span id= "selectName"></span><br>
      Choose your car: <br><span id= "selectCars"></span><br>
      <br>
      Or build from these parts:<br>
      Chassis: <br>
      <span id= "selectChassis"></span><br>
      Motor: <br>
      <span id= "selectMotor"></span><br>
      Armour: <br>
      <span id= "selectArmour"></span><br>
      Tires: <br>
      <span id= "selectTires"></span><br>
      Color: <br>
      <span id= "selectColor"></span><br>
    </div><!--
    <script src="../race/draw.js"></script> -->
    <script src="../pieces/pieces.js"></script>
    <script src="../race/classes.js"></script><!--
    <script src="../race/cars.js"></script>
    <script src="../race/engineFunctions.js"></script>
    <script src="../race/engine.js"></script>-->
    <script src= "../raceMenu/raceMenu.js"></script>
  </body>
</html>